@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    position: relative;
    background-color: hsl(216, 12%, 8%);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Overpass;
}
.container{
    position: absolute;
    background-color: hsl(213, 19%, 18%);
    height: 28vw;
    width: 28vw;
    border-radius: 2.5vw;
    padding: 2.5vw;
    font-family: Overpass;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.star{
    background-color: hsl(210deg 19% 21%);
    width: 3vw;
    height: 3vw;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
.star img{
    width: 2vw;
    height: 2vw;

}
.card-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1vw;
    font-family: Overpass;
}
.card-text h1{
    font-size: 2.1vw;
    color: hsl(0, 0%, 100%);
}
.card-text p{
    color: hsl(217, 12%, 63%);
    font-size: 1.1vw;
}
.rating{
    display: flex;
    justify-content: space-between;
}
.circle{
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    background-color: aliceblue;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: hsl(210deg 19% 21%);
    color: hsl(217, 12%, 63%);
    cursor: pointer;
    font-size: 1.3vw;
}
.circle:hover{
    color: white;
    background-color: hsl(25, 97%, 53%);
}
.button{
    width: 100%;
    height: 2.7vw;
    border-radius: 1.3vw;
    outline: none;
    border: none;
    background-color: hsl(25, 97%, 53%);
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.3vw;
}
.button:hover{
    color: hsl(25, 97%, 53%);
    background-color: white;
    transition: 0.3s;
}
.thanks{
    background-color: hsl(213, 19%, 18%);
    height: 28vw;
    width: 28vw;
    border-radius: 2.5vw;
    text-align: center;
    display:  none;
    padding: 2.5vw;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
}
.thank-image{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
}
.thank-image img{
    height: 7vw;
    width: 10vw;
}
#result{
    display: flex;
    justify-content: center;
    text-align: center;
    align-self: center;
    align-items: center;
    width: 15vw;
    height: 3vw;
    background-color: hsl(210deg 19% 21%);
    color: hsl(25, 97%, 53%);
    border-radius: 2.5vw;
    font-size: 1.2vw;
}
.thanks h1{
    color: white;
    font-size: 2.5vw;
}
.thanks p{
    font-size: 1.4vw;
    color: hsl(217, 12%, 63%);
    font-family: Overpass;
}
@media (max-width: 600px){
    .container{
        height: 90vw;
        width: 80vw;
        padding: 6vw;
        border-radius: 6vw;
    }
    .star{
        width: 10vw;
        height: 10vw;
    }
    .star img{
        width: 5vw;
        height: 5vw;
    }
    .card-text{
        gap: 3vw;
    }
    .card-text h1{
        font-size: 6vw;
    }
    .card-text p{
        font-size: 3.5vw;
    }
    .circle{
        width: 10vw;
        height: 10vw;
        font-size: 4vw;
    }
    .button{
        height: 9vw;
        border-radius: 4.5vw;
        font-size: 4vw;
    }
    .thanks{
        height: 90vw;
        width: 80vw;
        border-radius: 6vw;
        padding: 7vw;
    }
    .thank-image img{
        height: 20vw;
        width: 30vw;
    }
    #result{
        width: 60vw;
        height: 9vw;
        border-radius: 5vw;
        font-size: 3.7vw;
    }
    .thanks h1{
        font-size: 7.5vw;
    }
    .thanks p{
        font-size: 4vw;
    }
}